<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> <!-- font awesomw lib -->
    <link rel="stylesheet" href="{% static 'css/style_signin.css' %}">
</head>
<body>


<div class="container">
    <h2 class="text-center" id="affilators_title"><span>AFF</span>ILIATORS</h2>
    <p class="email-sent">The password has been changed!</p>
    <p class="text-center"><a href="{% url 'sign_in' %}">log in again?</a></p>
</div>

<div class="overlay"></div>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
