
{% extends 'base.html' %}

{% load static %}

{% load template_filters %}

{% load widget_tweaks %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <!-- Start Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'product:product_list' %}">الرئيسية</a></li>
            <li class="active">تغيير الرقم السرى</li>
        </ol>
    </div>
    <!-- End Breadcrumb -->


    <!-- Start Request Money -->

    <div class="container">

        <div class="form-container client-info">

            <h1>تغيير الرقم السرى</h1>

            <form class="" action="" method="post" novalidate>

                {% csrf_token %}

                <div class="col-xs-7 form-input-container">
                    {% render_field form.old_password class="form-control" placeholder="الرقم السرى القديم" %}
                    <p class="client-info-form-error">{{ form.old_password.errors }}</p>
                </div>

                <div class="col-xs-7 form-input-container">
                    {% render_field form.new_password1 class="form-control" placeholder="الرقم السرى الجديد" %}
                    <p class="client-info-form-error">{{ form.new_password1.errors }}</p>
                </div>

                <div class="col-xs-7 form-input-container">
                    {% render_field form.new_password2 class="form-control" placeholder="اعد ادخال الرقم السرى الجديد" %}
                    <p class="client-info-form-error">{{ form.new_password2.errors }}</p>
                </div>

                <div class="col-xs-7 form-submit-button-container">
                    <input type="submit" class="form-control" placeholder="Submit" value="تأكيد">
                </div>

            </form>
        </div>
    </div>

    <!-- End Request Money -->


{% endblock content %}

{% block js %}

{% endblock js%}