
{% extends 'base.html' %}

{% load static %}

{% load template_filters %}

{% load widget_tweaks %}

{% block title %}Password Change Done{% endblock title %}

{% block content %}

    <!-- Start Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'product:product_list' %}">Home</a></li>
            <li class="active">Password Change Done</li>
        </ol>
    </div>
    <!-- End Breadcrumb -->


    <!-- Start Request Money -->

    <div class="container">

        <div class="form-container client-info">

            <h1>Password Changed Successfully</h1>

        </div>
    </div>

    <!-- End Request Money -->


{% endblock content %}

{% block js %}

{% endblock js%}